@model WantJobsVM
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- MAIN START -->

<main>

	<!-- Small introductory part -->
	<section id="want">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 mb-6">
					<div class="text-block p-5">
						<div class="content">
							<span class="subtitle">@Model.about.Subtitle <i class="fa-solid fa-angle-right"></i></span>
							<span class="title">  @Model.about.Title</span>
							<h1>@Model.about.Desc</h1>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Tab Menu section of the site -->
	<section id="want-tab" class="bg-light">
		<div class="container">
			<div class="intro-wrapper">
				<div class="row">
					<div class="col-lg-12  col-md-12 mb-6">
						

						<nav class="navbar navbar-light bg-light">
						  <form class="d-flex" style="width:100%">
							<input class="form-control" id="search-input" type="text" placeholder="Search for the category you want" aria-label="Search">
							<button class="btn btn-outline-success " type="submit">Search</button>
						  </form>
						  <div id="searchList">

						  </div>
						</nav>

						

						@*<div class="intro-content">
							<div class="tabs">
							<div class="tabs__head">
							@foreach (var item in Model.finds)
							{
							<span class="tabs__toggle is-active" data-id="@item.Name.ToLower()">@item.Name</span>
							}
							</div>
							</div>
							<div class="tabs__body">
							<div class="tabs__content is-active">
							<p class="tabs__text">
							<div class="container">
							<div class="row d-flex">
							<div class="col-md mr-md-2">
							<div class="form-group">
							<div class="form-field">
							<div class="select-wrap">
							<select class="form-select" aria-label="Default select example">
							<option selected>Category</option>*@
						@* @foreach (var item in Model.timecategory)
							{
							<option value="1" data-id="@item.find.Name.ToLower()"> @item.Name</option>
							}*@
						@*</select>
							</div>
							</div>
							</div>
							</div>
							<div class="col-md">
							<div class="form-group">
							<div class="form-field">
							<button type="submit" class="form-control btn btn-danger">Search</button>
							</div>
							</div>
							</div>

							</div>
							</div>
							</div>*@
						@*<div class="tabs__content">
							<p class="tabs__text">
							<div class="container">
							<div class="row d-flex">
							<div class="col-md mr-md-2">
							<div class="form-group">
							<div class="form-field">
							<div class="select-wrap">
							<select class="form-select" aria-label="Default select example">
							<option selected>Category</option>*@
						@* @foreach (var item in Model.timers)
							{
							<option value="1">@item.Name</option>
							}*@
						@*</select>
							</div>
							</div>
							</div>
							</div>
							<div class="col-md">
							<div class="form-group" id="searchgroup">
							<div class="form-field">
							<button id="searchList" type="submit" class="form-control btn btn-danger">Search</button>
							</div>
							</div>
							</div>

							</div>
							</div>
							</div>

							</div>

							</div>*@
					</div>

				</div>
			</div>
		</div>
	</section>

	<!-- Categories section of the site -->
	<section id="categories">
		<div class="categories-part">
			<div class="content-title reveal">
				<span class="subtitle">Job Categories</span>
				<h2>Top Categories</h2>
			</div>
			<div class="total-categories">
				<div class="container">
					<div class="row row-cols-1 row-cols-md-3 g-4">

						@foreach (var item in Model.topCategories)
						{
							<div class="col" data-id="@item.Name">
								<ul class="category reveal">

									<div class="li-class">
									<li>
										
										
										<a asp-controller="topcategory" asp-action="index">
												
												
												@item.Name <br>
											<span class="number">@item.Number</span>
											<span class="open">Open position</span>
											<i class="fa-solid fa-angle-right"></i>
										</a>
									</li>
									
									
									<hr>
							</div>

							</ul>
						</div>
						}
				</div>
			</div>
		</div>
		</div>
	</section>

	<!-- Subscribe section of the site-->
	@await Component.InvokeAsync("Subscribe")
</main>

<!-- MAIN END -->
