@model WantJobsVM
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- MAIN START -->

<main>

	<!-- Small introductory part -->
	<section id="want">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 mb-6">
					<div class="text-block p-5">
						<div class="content">
							<span class="subtitle">@Model.about.Subtitle <i class="fa-solid fa-angle-right"></i></span>
							<span class="title">  @Model.about.Title</span>
							<h1>@Model.about.Desc</h1>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Categories section of the site -->
	<section id="categories">
		<div class="categories-part">
			<div class="content-title reveal">
				<span class="subtitle">Job Categories</span>
				<h2>Top Categories</h2>
			</div>
			<div class="total-categories">
				<div class="container">
					<div class="row row-cols-1 row-cols-md-3 g-4">

						@foreach (var item in Model.topCategories)
						{
							<div class="col" data-id="@item.Name">
								<ul class="category reveal">

									<div class="li-class">
									<li>
										
										
										<a asp-controller="topcategory" asp-action="index">
												
												
												@item.Name <br>
											<span class="number">@item.Number</span>
											<span class="open">Open position</span>
											<i class="fa-solid fa-angle-right"></i>
										</a>
									</li>
									
									
									<hr>
							</div>

							</ul>
						</div>
						}
				</div>
			</div>
		</div>
		</div>
	</section>

	<!-- Subscribe section of the site-->
	@await Component.InvokeAsync("Subscribe")
</main>

<!-- MAIN END -->
